.bg1{
    background-color: #5c08a1;
    width:300px;
    height: 500px;
    margin-left:520px;
    color: white;
}
.terms{
    color: white;
}
.last{
    color: white;
}

::placeholder {
    color: white;
}