.sign{
    padding-top: 5px;
}
.bg{
    background-color: #5c08a1;
    width:300px;
    height: 450px;
    margin-left:520px;
    color: white;
}
.btn{
    width: 250px;
    height: 30px;
    color: white;
    background-color: rgb(252, 6, 178);
    margin-top: 20px;
    border-color: rgb(252, 6, 178);
}
img{
    width:70px;
    height:70px ;
    border-radius: 50px;
}
.input{
    width: 250px;
    height: 30px;
    background-color: transparent;
    border-color: white;
    color:white;
    margin-bottom: 10px;
    margin-top: 16px;
    padding-left: 5px;
}
.remember{
    font-size: 12px;
    color: gray;
}
.forgot{
    margin-left:40px;
    color: white;
}
.create{
    margin-top: 20px;
}
.icon{
    margin-top: 10px;
}